.container {
  margin-bottom: 10px;
  margin-left: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.providerButton {
  padding: 15px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.lastSyncText {
  color: white;
  font-size: 14px;
}

.expandedContainer {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.card {
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding: 15px;
  width: 500px;
  background-color: #1f2937;
  color: white;
  margin-top: 10px;
  box-sizing: border-box;
}

.input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  box-sizing: border-box;
}

.syncButton {
  width: 25%;
  padding: 10px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  margin-right: 10px;
}

.unlinkButton {
  width: 25%;
  padding: 10px;
  background-color: #b91010;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}