.layout {
  display: flex;
  height: 100vh;
  gap: 24px;
}

.main {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.mainBox {
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  background-color: rgb(116, 115, 115);
  width: 1100px;
  height: 400px;
  margin: 0 auto 24px auto;
}

.subBox {
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  background-color: rgb(160, 160, 160);
  width: 1100px;
  height: 200px;
}

.sidebar {
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  width: 200px;
  background-color: #1f2937;
  color: white;
}